.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* shared styles */
.orange{
    color: #FEA301;
}
.sky-blue{
    color: #01ACFD;
}
.fresh-color{
    color: #05D4DF;
}
.beguni{
    color: #5D58EF;
}

/* nav styles */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 1440px; */
    /* border: 1px solid gray; */
    /* padding: 20px 140px; */
    margin: 20px 140px;

}
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo-title {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}
nav ul li{
    list-style: none;
    
}
nav li a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}
.nav-links{
    display: flex;
    gap: 32px;
}
.hamburger-menu{
    display: none;
}
.btn-primary{
    background-color: #FEA301;
    font-size: 1.25rem;
    padding: 10px 60px;
    border-radius: 12px;
    border: none;
    
}
button a{
    color: #FFFFFF;
    text-decoration: none;
}







@media screen and (max-width: 576px) {
    .navbar{
        margin: 12px 16px;
        flex-direction: row;
        /* justify-content: space-between; */
        
    }
    .logo-title{
        display: none;
    }
    .btn-primary{
        display: none;
    }
    .nav-links{
        display: none;
    }
    .hamburger-menu{
        display: block;
         margin-left: 200px;
    }
    
}